@font-face {
  font-family: 'Montserrat';
  src: url('./src/assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #69fff9 !important;
}

.pointer {
  cursor: pointer;
}