@import '/styles.scss';

#root {
  margin: 0 auto;
  padding: 0 0 0 70px;
  text-align: center;
}

#app-body {
  margin-left: 70px;
}

#main-logo-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

#about-me-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  margin: 20px;
}

#nav-side-bar {
  position: fixed;
  background: linear-gradient(to bottom, #196f81, #092025);
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
}

.nav-side-bar-item {
  height: 60px;
  width: 60px;
  margin: 15px 5px;
  border-radius: 1em;
  opacity: 0.5;
  transition: 125ms linear all;

  &:hover {
    width: 70px;
    height: 70px;
    margin: 10px 0;
    opacity: 1;
  }
}
